.carts{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
    padding-bottom: 5rem;
    visibility: hidden;
}

.cart{
    position: fixed;
    top: 20%;
    left: 15%;
    transform: translate(-50%, -50%) scale (1);
    width: 80%;
    height: 80;
    border-radius: 8px;
    overflow-x: scroll;
    transition: all 300ms ease-in-out;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden
}

.cart h2{
    text-align: center;
    font-size: 1.2rem;
}

.carts.show{
    visibility: visible;
}

.cart.show{
    transform: translate(-50%, -50%) scale (1.1);
    opacity: 1;
    visibility: visible;
}

.cart_close box-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 3rem 0 0 2rem;
}

.cart_close box-icon:hover{
    fill: #f6549c;
}

.cart_center{
    width: 90%;
    margin: 0 auto;
}
.cart_item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    box-shadow: 0 1px 10px #252525;
    border-radius: 5px;
}

.cart_item img{
    width: 9rem;
}

.cart_item h3{
    margin-top: 1.5 rem;
    font-weight: 600;
    font-size: 1.2rem;
}
.count{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cart_item .price{
    color:#f6549c;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-left: -1rem;
}

.cart_item box-icon{
    fill: #252525;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: .3rem;
}

.cart_item .quantity{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 5px;

}

.cart_item .remove_item box-icon{
    fill:  #f6549c;
    margin-top: 3.4rem;
}

.cart_footer{
    text-align: center;
    margin-bottom: 3rem;
}

.cart_footer h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.cart_footer .paybtn{
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    background-color: #fefefe;
    color: #252525;
    border: .5px solid  #f6549c;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
}

.cart_footer .paybtn:hover{
    color:#fefefe;
    background-color: #f6549c;
}

@media only screen and (max-width: 1000px ) {
    .cart_item{
        width:92%;
    }
    
}

@media only screen and (max-width: 700px ) {
    .cart{
        width:75%;
        height: 50%;
        padding: 1rem;
    }

    .cart_item{
        width:105%;
    }
    .cart_item h3{
        font-size: 1.2rem; 
    }

    .count{
        justify-content: left;
    }
}

@media only screen and (max-width: 450px ) {
    .cart_item{
        width:105%;
    }
    .cart_item h3{
        display: none;
    }
    .cart_item .price{
        justify-self: center;
    }
}