
.card{
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 27.5rem !important;
    margin: 25px;
    padding: 0.5rem;

}
.prod-name{
    text-align: center;
}
.imgcard{
    height: 180px;
    width: 140px;
}