.card{
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 27.5rem !important;
    margin: 25px;
    padding: 0.5rem;

}
.prod-name{
    text-align: center;
}
.imgcard{
    height: 180px;
    width: 140px;
}
.addbtn{
    margin: 1rem;
    color: #252525;
    background-color: #ffffff;
    border-color: #f6549c;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.addbtn:hover{
    background-color: #f6549c;
    color: #ffffff;
  }