.navbar > ul{
    display: flex;
    list-style: none;
}

ul > li{
  color: #252323;
  font-size: larger;
  margin: 20px;
}

.logo{
  width: 80%;
}

li > a{
  text-decoration: none;
  color: #252323; 
}

.btn-primary{
  background-color: #f8f9fa !important;
  color: #252323 !important;
}

.form-control{
  width: auto !important;
}
.searchbtn{
  background-color: #f8f9fa;
  color: #252323;
  padding: 5px;
  margin-left: -35px;
}