.navbar > ul{
    display: flex;
    list-style: none;
    align-items: center;
}

ul > li{
  color: #252323;
  margin: 20px;
}

.logo{
  width: 80%;
}

li > a{
  text-decoration: none;
  color: #252323; 
  font-weight: 400;
  
}

.btn-primary{
  background-color: #f8f9fa !important;
  color: #252323 !important;
  border-color: #f8f9fa !important;
}

.btn-primary:hover{
  color:#ff64e3 !important;
  border: #f8f9fa !important;
}

.form-control{
  width: auto !important;
}
.searchbtn{
  background-color: #f8f9fa;
  color: #252323;
  padding: 5px;
  margin-left: -35px;
}